.venv
scratch/
ddos_venv/
DDoS_Detection.ipynb
datasets/
datasets_shared/
*.pcap
*.pcapng
*.cap
*.zip
*.parquet
cleaned/
parsed/
features/
reports/
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/
.DS_Store
Thumbs.db